.caption {
    background-color: rgba(252, 184, 18, 0.901961) !important;
}

hr.star-light {
    border-color: #0069AA;
}

hr.star-light:after {
    color: #0069AA;
    background-color: #fcbe15;
}

.empresa {
    background-color: #fcbe15;
}

.intro-text {
    border: 1px solid;
    padding: 0px;
}

.navbar-default {
    background-color: #F2F2F3;
    
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #0069AA;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #fcbe15;
}

header {
    background-image: url("../img/profile.jpg");
    height: 900px;
    background-size: cover;
}

.portfolio-item >img {
    width: 220px;
    height: 172px;
}

.contact {
    background-image: url("../img/carta_c.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 60px 80px 180px 60px;
    padding-right: 200px;
        
}

.contact textarea {
    background-image: -webkit-linear-gradient(left, transparent 10px, transparent 10px), -webkit-linear-gradient(right, transparent 10px, transparent 10px), -webkit-linear-gradient(transparent 30px, #000 30px, #000 31px, white 31px);
    background-image: -moz-linear-gradient(left, transparent 10px, transparent 10px), -moz-linear-gradient(right, transparent 10px, transparent 10px), -moz-linear-gradient(transparent 30px, #000 30px, #000 31px, transparent 31px);
    background-image: -ms-linear-gradient(left, transparent 10px, transparent 10px), -ms-linear-gradient(right, transparent 10px, transparent 10px), -ms-linear-gradient(transparent 30px, #000 30px, #000 31px, transparent 31px);
    background-image: -o-linear-gradient(left, transparent 10px, transparent 10px), -o-linear-gradient(right, transparent 10px, transparent 10px), -o-linear-gradient(transparent 30px, #000 30px, #000 31px, transparent 31px);
    background-image: linear-gradient(left, transparent 10px, transparent 10px), linear-gradient(right, transparent 10px, transparent 10px), linear-gradient(transparent 30px, #000 30px, #000 31px, transparent 31px);
    background-size: 100% 100%, 100% 100%, 100% 31px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 31px;
    font-family: Arial, Helvetica, Sans-serif;
    padding: 5px;
    border: 0px;
}

.button-send {
    position: absolute !important;
    text-align: right;
    padding-right: 100px;
}

.button-send button {
    background-color: transparent;
    width: 150px;
    height: 150px;
    padding: 0px;
    border: 0px;
 }

.button-send button:hover,
.button-send button:active,
.button-send button:focus {
    background-color: transparent;
 }

.help-block {
    float: right;
}
